* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    color: white;

}







.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    /*    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));*/
    /*       grid-auto-rows: minmax(10px auto);*/
    grid-auto-rows: minmax(80px, auto);
    grid-gap: .5rem;
    /*    grid-template-rows: auto;*/

    /*       width: 100vw;*/
    /*    height: 100vh;*/
}

/*
#entete {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
*/


/*
.box5 {
    display: inline-block
}
*/

.box6 {}


#dragan {
    display: inline;
}

#linkedin {
    display: inline;
}

ul {
    padding-left: 1em;
    margin-top: em;

}


h1 {
    font-family: Montserrat;
    color: white;
    font-size: 20px
}

h2 {
    margin: .5em;
    color: black;
}

h5 {
    margin-top: 2em;
    color: orange;
}

p {
    margin: .2em 0 1em 0;
}


.box {
    padding: 1em;
    width: 100%;
    object-fit: cover;



}



.box1 {
    /*        align-self: start;*/


    /*    height: 100vh;*/


    background: #349992;
}

.box2 {
    /*        align-self: end;*/


    background: #236661;
}

.box3 {
    /*            justify-self: end;*/
    background: #349992;
}

.box4 {
    background: #46CCC3;
}




/*
.box5 {
     display: inline-block;
    float: left;

    }


.box6 {
    display: inline-block
    float: left;
}
*/

@media screen and (min-width: 1200px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        /*    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));*/
        /*       grid-auto-rows: minmax(10px auto);*/

        /*        grid-template-rows: autoauto auto;*/
        justify-items: stretch;
        align-items: stretch;
        grid-gap: .5em;
        width: 100vw;
        height: 100vh;
    }


    #entete {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80px;
    }

    /*
    .box5 {}

    .box6 {}
*/


    #dragan {
        display: inline;
    }

    #linkedin {
        display: inline;
    }

    ul {
        padding-left: 1em;
    }



    h1 {
        font-family: Montserrat;
        color: white;
        font-size: 20px
    }

    h2 {
        margin: .5em;
        color: black;


    }

    p {}


    .box {
        padding: 1em;
        width: 100%;
        object-fit: cover;



    }



    .box1 {
        /*        align-self: start;*/
        grid-column: 1/3;
        grid-row:
            /*            height: 100vh;*/


            background: #349992;
    }

    .box2 {
        /*        align-self: end;*/
        grid-column: 1/3;
        grid-row: 2/4;
        background: #236661;
    }

    .box3 {
        justify-self: end;
        grid-column: 3/4;
        grid-row: 3/4;
        background: #349992;
    }

    .box4 {

        grid-column: 3/4;
        grid-row: 2/3;
        background: #46CCC3;
    }


}
